body {
    background: rgb(136, 112, 112);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title-main {
    font-size: 3rem;
}

.sub-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.card {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background: rgb(237, 185, 153);
    color: black;
}

.main-contend-pri {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-card {
    display: flex;
    width: 50%;
    border-radius: 1rem 0rem 1rem 0rem;
}

.card .img-card {
    place-self: center;
}